In [0]:
import pandas as pd
from xgboost import XGBClassifier
import xgboost as xgb
from sklearn.ensemble import AdaBoostClassifier, RandomForestRegressor, RandomForestClassifier
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, StratifiedKFold, GridSearchCV 
from sklearn.metrics import mean_absolute_error, accuracy_score, confusion_matrix, classification_report, roc_auc_score
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

In [0]:
data_url = "https://raw.githubusercontent.com/shala2020/shala2020.github.io/master/Lecture_Materials/Assignments/MachineLearning/L1/attrition.csv"

In [0]:
atdata=pd.read_csv(data_url)

In [50]:
atdata.head()

   Age  Attrition  ... YearsWithCurrManager  ID
0   41          1  ...                    5   0
1   49          0  ...                    7   1
2   37          1  ...                    0   2
3   33          0  ...                    0   3
4   27          0  ...                    2   4

[5 rows x 34 columns]

In [0]:
X=atdata.drop(['Attrition'],axis=1)

In [81]:
y=atdata['Attrition']
#atdata.BusinessTravel = atdata.BusinessTravel.apply(lambda x: 1 if x=='Travel_Rarely' else 0)
X=atdata.drop(['Attrition'],axis=1)
X=X.apply(pd.to_numeric,errors='coerce')
X.fillna(0,inplace=True)
print(X)

      Age  BusinessTravel  ...  YearsWithCurrManager    ID
0      41               0  ...                     5     0
1      49               0  ...                     7     1
2      37               0  ...                     0     2
3      33               0  ...                     0     3
4      27               0  ...                     2     4
...   ...             ...  ...                   ...   ...
1023   56               0  ...                     0  1023
1024   47               0  ...                     6  1024
1025   24               0  ...                     3  1025
1026   32               0  ...                     3  1026
1027   34               0  ...                     2  1027

[1028 rows x 33 columns]

In [0]:
from sklearn.model_selection import train_test_split 
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier,RandomForestRegressor

In [83]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=123)

# Instantiating the classifier 
rfr = RandomForestRegressor(n_estimators=25,
                            random_state=1111,
                            max_features=4)

# Fitting the instantiator
rfr.fit(X_train,y_train)

# Printing the training and testing accuracies 
print('The training error is {0:.2f}'.format(mean_absolute_error(y_train, rfr.predict(X_train))))
print('The testing error is {0:.2f}'.format(mean_absolute_error(y_test, rfr.predict(X_test))))

The training error is 0.10
The testing error is 0.26

In [90]:
train_error,test_error=[],[]
for i in [1,20,30,40,50,100]:
  rfc=RandomForestClassifier(n_estimators=i,random_state=1234)
  rfc.fit(X_train,y_train)
  train_error.append(mean_absolute_error(y_train, rfc.predict(X_train)))
  test_error.append(mean_absolute_error(y_test, rfc.predict(X_test)))
print(train_error)
print(test_error)

[0.10097323600973236, 0.00851581508515815, 0.004866180048661801, 0.0024330900243309003, 0.0012165450121654502, 0.0]
[0.3155339805825243, 0.16019417475728157, 0.1553398058252427, 0.15048543689320387, 0.1650485436893204, 0.16019417475728157]

In [91]:
rfc=XGBClassifier()
rfc.fit(X_train,y_train)
print('The training error is {0:.2f}'.format(mean_absolute_error(y_train, rfc.predict(X_train))))
print('The testing error is {0:.2f}'.format(mean_absolute_error(y_test, rfc.predict(X_test))))

The training error is 0.08
The testing error is 0.17

In [97]:
dtc=LinearRegression()
dtc.fit(X_train,y_train)
print('The training error is {0:.2f}'.format(mean_absolute_error(y_train, dtc.predict(X_train))))
print('The testing error is {0:.2f}'.format(mean_absolute_error(y_test, dtc.predict(X_test))))

The training error is 0.25
The testing error is 0.27